/* ksuFAVICON BUILDER stylecheet */
@import url('gradient.css'); /* fond dégradé */
@import url('messagebox.css'); /* message box */
@import url('unselectable.css'); /*unselectable*/
h1,h2,h3,h4,h5,h6,div,p,img{
  border:none;
  margin:0;
  padding:0;
}
body{
  font-family:Helvetica,'Arial Narrow', sans-serif;
  font-size:12px;
  padding:0;
  margin:0;
}
h1,h2,h3,h4{
  margin-top:10px;
  margin-bottom: 5px;
}
h5,h6{
  margin-top: 6px;

}
#header{
  margin:0;
  padding:0;
  height:70px;
  color:#EEE;
}
#header h1{
  width:90%;
  height:50%;
  padding-top:15px;
  margin-top:0;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  font-variant:small-caps;
}
span.tip{
  font-weight:lighter;
  font-size:0.8em;
  display:inline-block;
}
#title{
  cursor:pointer;
  margin-right: 5px;

}
#title:focus{
  cursor:auto;
}
#wrapper{
  margin-left:auto;
  margin-right:auto;
  width:90%;
}
#app{
  text-align: center;
}
.nav{
  width:160px;
}
.nav input[type=button]:hover{
  background:#BBB;
}
.nav input[type=button]:active{
  background:#888;
  color:#EEE;
}
.nav input[type=button]{
  border: 1px solid #000;

  background:#EEE;
  width:100%;
}

canvas{
  border: 1px solid #AAA;
  background: #FFF;
}
#target{

  display: inline-block;
  cursor: crosshair;
  font-size: 13px;
}
#target._16{
  width:370px;
}
#target._32{
  width:750px;
}
#colorSelector,#left{
  width: 152px;
  display: inline-block;
}
#colorSelector .color{
  width:20px;
  height:20px;
  display: inline-block;
  border:1px solid #BBB;
  margin:3px;
  padding:0;
}
#colorSelector div[name=cell]:hover{
  cursor: pointer;
  border:1px dashed #111;
}
.inline{
  display:inline-block;
  vertical-align:top;
  margin-right:20px;
  padding:0;
}
div[name=cell]{
  width:20px;
  height:20px;
  margin:-2px 1px 0px 0px;
  padding: 0;
  line-height: 0;
  display: inline-block;
  border:1px solid #DDD;
}
div[name=cell]:hover{
  border: 1px dashed #AAA;
}
.emptyCell{
  background:url("/lib/img/faviconbuilder/emptycell.gif");
}
#toolSelector{
}
#toolSelector span{
  border:2px solid #666;
  width:32px;
  height:32px;
  margin-right:6px;
  display:inline-block;
}
#toolSelector span:hover{
  border:2px dashed #666;
  cursor: pointer;
}
#toolSelector span.selected{
  border:2px dashed #666;
  background-color:rgb(0,100,100);
}
#toolSelector h5{
  width: 152px;
  height: auto;
  display:inline-block;
  text-align: justify;
}
.black{
  background: #111;
  color:#EEE;
}
