/* ksuFAVICON BUILDER stylecheet */
@import url('gradient.css'); /* fond dégradé */
@import url('messagebox.css'); /* message box */
h1,h2,h3,h4,h5,h6,div,p,img{
border:none;
margin:0;
padding:0;
}
body{
  font-family:Helvetica,'Arial Narrow', sans-serif;
  font-size:12px;
  padding:0;
  margin:0;
}
h1,h2,h3,h4{
  margin-top:10px;
  margin-bottom: 5px;
}
h5,h6{
margin-top: 6px;

}
#header{
  margin:0;
  padding:0;
  height:70px;
  color:#EEE;
}
#header h1{
  width:90%;
  height:50%;
  padding-top:15px;
  margin-top:0;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  font-variant:small-caps;
}
span.tip{
  font-weight:lighter;
  font-size:0.8em;
  display:inline-block;
}
#title{
  cursor:pointer;
  margin-right: 5px;

}
#title:focus{
  cursor:auto;
}
#wrapper{
  margin-left:auto;
  margin-right:auto;
  width:90%;
}
#app{
  text-align: center;
}
.nav{
  width:160px;
}
.nav input[type=button]:hover{
  background:#BBB;
}
.nav input[type=button]:active{
  background:#888;
  color:#EEE;
}
.nav input[type=button]{
  display:inline-block;
  background:#EEE;
  border:1px solid #AAA;
  width:150px;
  height:20px;
}

canvas{
  border: 1px solid #AAA;
}
#target{

  display: inline-block;
  cursor: crosshair;
  font-size: 13px;
}
#target._16{
  width:395px;
}
#target._32{
  width:775px;
}
#colorSelector,#left{
  width: 100px;
  display: inline-block;
}
#colorSelector .color{
  width:20px;
  height:20px;
  display: inline-block;
  border:1px solid #BBB;
  margin:3px;
  padding:0;
}
#colorSelector .color:hover{
  cursor: pointer;
  border:1px dashed #111;
}
.inline{
  display:inline-block;
  vertical-align:top;
  margin-right:20px;
  padding:0;
}
#target div{
  width:20px;
  height:20px;
  margin:-2px -2px 0px 0px;
  padding: 0;
  line-height: 0;
  display: inline-block;
  border:1px solid #DDD;
}
#target div:hover{
  border: 1px dashed #AAA;
}
.emptyCell{
  background:url("/lib/img/faviconbuilder/emptycell.gif");
}

#toolSelector img{
  border:2px solid #666;
}
#toolSelector img:hover{
  border:2px dashed #666;
}
#toolSelector img.selected{
  border:2px dashed #666;
  background: #CCC;
}
